.site-footer {
	background: transparentize($base, .8) no-repeat;
	position: fixed;
	bottom: 0;
	height: 100px;
	width: 100%;
	display: block;
	color: white;
	background-size: 100%;


	.site-info {
		width:100%;

		.section {
			width: 33.333333333%;
			float: left;

			h1 {
				font-family: "league-gothic", sans-serif;
				text-align: center;
				font-size: 90px;
				text-transform: uppercase;
				margin: -8px;
				font-weight: 100;
				@include respond-to(lg) {
					font-size: 75px;
				}
			}

			&:first-child {
				h1 {
					text-align: right
				}
			}
			&:last-child {
				h1 {
					text-align: left
				}
			}
		}
	}

	@include respond-to(md) {
		height: 300px;
		.site-info {
			.section {
				width: 100%;
				float: none;
				margin-top: 8px;

				h1 {
					height: 100px;
					line-height: 100px;
					text-align: center;
					color:#999;
					&:first-child, &:last-child  {text-align: center;}

				}
			}
		}
	}
}
