.site-footer {
	background: transparentize($base, .8) no-repeat;
	position: fixed;
	bottom: 0;
	height: 100px;
	width: 100%;
	display: block;
	color: white;
	background-size: 100%;


	.site-info {
		width:100%;

		.section {
			width: 33.333333333%;
			float: left;

			h1 {
				font-family: "league-gothic", sans-serif;
				text-align: center;
				font-size: 90px;
				text-transform: uppercase;
				margin: -8px;
				font-weight: 100
			}
		}
	}
}
