.single-format-quote {

	.site-title {
		@include hide-text();
	}

	#primary {
		background: transparent;

		#main {


			.entry-content {
				h1.entry-title {
					color: white;
					font-size: 150px;
					background-clip: initial;
					text-fill-color: initial;
					-moz-background-clip: initial;
					-moz-text-fill-color: initial;
					-webkit-background-clip: initial;
					-webkit-text-fill-color: initial;
					text-align: left;
					@include text-shadow(0px 2px 0px rgba(0,0,0,.25));
				}
				h2.entry-subtitle {
					margin-top:40px;
					color: white;
					font-size: 100px;
					background-clip: initial;
					text-fill-color: initial;
					-moz-background-clip: initial;
					-moz-text-fill-color: initial;
					-webkit-background-clip: initial;
					-webkit-text-fill-color: initial;
					text-align: center;
					@include text-shadow(0px 2px 0px rgba(0,0,0,.25));
				}
			}
		}
	}

	.site-footer {
		position: fixed;
	}


	@include respond-to(md) {
		.site-title {
			display: block;
		}

		.frame {
			margin-bottom: 0;
		}

		#primary {
			#main {
				padding-top: 100px;
				h1.entry-title {
					height: auto;
					line-height: auto !important;
					font-size: 100px !important;
				}
				h2.entry-subtitle {
					height: auto;
					line-height: auto !important;
					font-size: 75px !important;
				}
				.entry-social {
					display: none;
				}
			}
		}
		.site-footer {
			position: relative;
		}
	}

	@include respond-to(sm) {
		#primary {
			#main {
				padding-top: 100px;
				h1.entry-title {
					height: auto;
					line-height: 86px !important;
					font-size: 65px !important;
				}
				h2.entry-subtitle {
					height: auto;
					line-height: 60px !important;
					font-size: 45px !important;
				}
			}
		}
	}

	@include respond-to(xs) {
		#primary {
			#main {
				padding-top: 75px;
				h1.entry-title {
					height: auto;
					line-height: 58px !important;
					font-size: 42px !important;
				}
				h2.entry-subtitle {
					height: auto;
					margin-top: 20px !important;
					line-height: 45px !important;
					font-size: 30px !important;
				}
			}
		}
	}
}
